@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Welcome</h1>
        <img src="~/images/sucessimages.jpg" alt="Exam Result" width="500" height="600">

       
    
    

    <p>.</p>
</div>
