@page
@model CompetitonMerit_ASP_Core.Pages.Meritlists.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Merit List</h1>

<h4>Merit List</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Meritlist.Student_participateId" class="control-label"></label>
                <select asp-for="Meritlist.Student_participateId" class ="form-control" asp-items="ViewBag.Student_participateId">Student Particiapte</select>
            </div>
            <div class="form-group">
                <label asp-for="Meritlist.SchoolId" class="control-label"></label>
                <select asp-for="Meritlist.SchoolId" class ="form-control" asp-items="ViewBag.SchoolId">School</select>
            </div>
            <div class="form-group">
                <label asp-for="Meritlist.SubjectId" class="control-label"></label>
                <select asp-for="Meritlist.SubjectId" class ="form-control" asp-items="ViewBag.SubjectId">Subject</select>
            </div>
            <div class="form-group">
                <label asp-for="Meritlist.Marks" class="control-label"></label>
                <input asp-for="Meritlist.Marks" class="form-control" />
                <span asp-validation-for="Meritlist.Marks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
